beautifulsoup4
brotlipy==0.7.0
certifi==2020.12.5
cffi 
chardet 
cryptography 
idna==2.5 
mkl-fft
mkl-random
#mkl-service==2.3.0
numpy 
pandas 
pycparser 
pyOpenSSL 
PySocks
python-dateutil
pytz
requests 
six
soupsieve
urllib3
